@import "color";
@import url('https://fonts.googleapis.com/css?family=Nixie+One|Raleway');

body,
html {
    padding: 0;
    margin: 0;
    background-color: $yellow;
    color: $text;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer,
    header {
        flex: 0 0 auto;
    }

    .container {
        flex: 1 0 100%;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: $pink;
    border-bottom: 1px dotted $pink;

    &:hover {
        color: $yellow;
        background-color: $pink;
    }
}

strong {
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: .5rem;
    font-family: 'Nixie One', sans-serif;
}

.search {
    box-shadow: 0 2px 0 rgba($pink, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($cream, 0.95);
    z-index: 10;

    .search-input {
        width: calc(100% - 2em);
        font-size: 1.2rem;
        padding: 1rem;
        outline: 0;
        border: 0;
        border-radius: 0;
        background-color: rgba($cream, 0.95);
        z-index: 100;
        top: 0;
    }

    &:active,
    &:focus,
    &:hover {
        background-color: rgba($cream, 0.95);
    }
}

ul {
    max-width: 45rem;
    list-style: none;
    margin: 4rem auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
        padding-bottom: 0;
        border-radius: 1rem;
        background-color: rgba($cream, 0.95);
        box-shadow: 0 0 0 1px rgba($cream, 0.7), 0 2px 5px rgba($pink, .05);
        margin: .5rem;
        padding: .5rem;
        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title title' 'details details' 'image description';
        grid-gap: 1rem;
        transition: all 100ms linear;
        @media screen and (max-width: 45rem) {
            grid-template-columns: 3rem 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 'title title' 'details details' 'image description';

            .show-description {
                font-size: .75rem;
            }
        }

        .show-image {
            grid-area: image;
            max-width: 100%;
            border-radius: 100%;
            overflow: hidden;
            mix-blend-mode: luminosity;
        }

        .show-title {
            grid-area: title;
        }

        .show-details {
            grid-area: details;
            margin-left: .5rem;
            margin-right: .5rem;
        }

        .show-description {
            font-size: .875rem;
        }

        &:hover {
            transition: all 100ms linear;
            box-shadow: 0 0 0 1px rgba($pink, 0.7), 0 2px 15px rgba($pink, .1);
        }
    }
}

.container {
    > div {
        display: flex;
        flex-direction: column;
    }
}

footer {
    padding: 1rem;
    margin-top: .5rem;
    font-size: .6rem;
    box-shadow: 0 -3px 0 rgba($cream, 0.4);
    background-color: rgba($cream, 0.3);

    a {
        border-bottom: 1px dotted $cream;

        &:hover {
            border-bottom: 1px solid $cream;
        }
    }
}

.empty {
    text-align: center;
}
