<div class="search">
    <input class="search-input" ng-model="searchText" placeholder="Search {{main.newshows.length}} shows" autofocus="autofocus">
    <div class="search-blur"></div>
</div>
<!--
"name": "Stuart Goldsmith: End Of",
"group_name": "Off the Kerb Productions Ltd",
"times": "14:50",
"description": "Stu's back with some thoughts on how it all works out in the end and whether anyone cares. A comic odyssey through future selves, rare diseases and the chance to convince your son you've got some sort of backbone. Featuring ambition, money, a sort of moral autopilot and whether men as a species are worth saving. A Goldsmith always pays his debts. Host of The Comedian’s Comedian Podcast (9 million downloads). 'Master of the form' (Independent). 'Makes it look easy' (Chortle.co.uk). Via As Yet Untitled (Dave), Russell Howard’s Stand Up Central (Comedy Central) and SXSW 2018.",
"event_url": "whats-on/stuart-goldsmith-end-of",
"large_image_url": "uploads/event/2018STUARTG_AOX.jpg",
"venue_name": "Liquid Room Annexe/Warehouse",
"venue_space_name": "Warehouse",
"podcast_url": "https://soundcloud.com/stu-goldsmith",
"podcast_title": "Umm..."
 -->
<ul class="list">
    <li ng-repeat="show in main.newshows | filter:searchText | orderBy:'times'" class="ng-scope">
        <img class="show-image" src="https://tickets.edfringe.com/www-data/{{show.large_image_url}}" alt="Image for {{show.name}}">
            <a class="show-title" href="https://tickets.edfringe.com/{{show.event_url}}" target="_blank">
                <h3>{{show.name}}</h3>
            </a>
        <div class="show-details">
            <span><a href="{{show.podcast_url}}" target="_blank">Podcast</a> • <strong>{{show.times}}</strong> at <strong>{{show.venue_space_name}}, {{show.venue_name}}</strong></span>
        </div>
        <div class="show-description">
            <p>{{show.description}}</p>
        </div>
    </li>
    <!-- ng-show="(bars | filter:barFilter).length == 0" -->
    <div class="empty" ng-show="(main.newshows | filter:searchText).length == 0">
        <p>Can't find anything like that...</p>
    </div>
</ul>
